@charset "utf-8";
/* CSS Document */


body {
    font: normal 12px/1.5 Tahoma, "微软雅黑", Arial, SimSun, sans-serif;
    /*"Microsoft YaHei UI","Microsoft YaHei",SimSun,"Segoe UI",Tahoma,Helvetica,Sans-Serif*/
    background: url('../images/newLoginBg.png') no-repeat;
    background-size:100% 100%;
    text-align: center;
    width: 100%;
	height: 100%;
	overflow: hidden;
}
body, div {
    margin: 0;
    padding: 0;
}

html {
    color: #404040;
    width: 100%;
	height: 100%;
}
.bannerBox{
	height: 400px;
	width: 100%;
	background: url('../images/bannerBg.png') repeat-x 0px 120px;
	padding-top: 130px;
}
.navBox{
	width: 1024px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}
.imageBox{
	width: 713px;
	padding-top: 71px;
}
.loginLogo{
	position:absolute;
	left: 75px;
	top: 90px;
}
.loginBox{
	width:400px;
	height:400px;
	position:absolute;
	background: url('../images/newLoginBox.png') no-repeat;
	right: 0;
	top: 0;
}
.inputBox{
	font-size: 15px;
	margin-left: 65px;
	margin-top: 15px;
}
.inputBox b{
	width:65px;
	height:27px;
	text-align:right;
	display:inline-block;
	font-weight: 100;
	padding-top: 3px;
}
.inputBox span{
	display:inline-block;
	background: url('../images/textStyle.png') no-repeat;
	width: 200px;
	height: 28px;
	padding-top: 3px;
	padding-left: 6px;
}
.inputBox input.textStyle{
	border: none;
	width: 193px;
    font: normal 15px/1.5 Tahoma, "微软雅黑", Arial, SimSun, sans-serif;
	height: 23px;
	background: none;
	outline:none;
	*margin-left: -65px;
}
.ttzh{
	margin-top: 135px;
}
.msgBox{
	margin-left: 45px;
	text-align:center;
	width:255px;
	color: #FF0000;
	margin-top: 10px;
	height: 45px;
	padding: 0 30px;
}
.buttonBox{
	text-align: center;
}
.buttonBox input.buttonStyle{
    font: normal 17px/1.5 Tahoma, "微软雅黑", Arial, SimSun, sans-serif;
	border: none;
	color: #FFFFFF;
	width:152px;
	height:39px;
	outline:none;
	cursor:pointer;
	margin-left:5px;
	text-shadow:1px 1px 1px #AAAAAA;
	background: url('../images/newLoginBut.png') no-repeat 0px 2px;
}
.buttonBox input.buttonStyle:hover{
	text-shadow:0px 0px 0px #999999;
	background: url('../images/newLoginButH.png') no-repeat 0px 2px;
}
.buttonBox input.buttonStyle:active{
	background: url('../images/newLoginButA.png') no-repeat 0px 2px;
}
.footerBox{
	color: #96cae8;
	font-size: 13px;
}
.loadingBox{
	position:absolute;
	z-index: 999;
	background: url('../images/loadingBg.png');
}
.loadingBox img{
	position:absolute;
	z-index: 9999;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}